.footer {
  background-color: var(--color-add-light);
  width: 100%;
  padding: 30px 40px;
}

.heart-icon {
  fill: var(--color-brand);
  margin: 3px 3px 0 3px;
}

.copyright {
  color: var(--color-add-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.footer-link {
  color: var(--color-brand);
}
