.main-page-header {
  background-color: var(--color-main-dark);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header-bg-img320.jpg');
  height: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-img320@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-img768.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-img768@2x.jpg');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-img1024.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-img1024@2x.jpg');
  }
}

.my-lib-header {
  background-color: var(--color-main-dark);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/my-lib-header-bg320.jpg');
  height: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/my-lib-header-bg320@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/my-lib-header-bg768.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header-bg-img768@2x.jpg');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/my-lib-header-bg1024.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/my-lib-header-bg1024@2x.jpg');
  }
}

.site-nav {
  display: flex;
  margin-bottom: 15px;
}

.menu {
  display: flex;
  margin-left: auto;
}

.menu > li {
  margin-left: 40px;
}

.logo-icon {
  margin-left: 10px;
  fill: var(--color-logo);
  transition: fill var(--effect-duration) var(--timing-function);
}

.logo-link {
  color: var(--color-main-light);
  padding: 41px 0 20px 0;

  &:hover .logo-icon {
    fill: var(--color-brand);
  }
}

.menu-link {
  color: var(--color-main-light);
  position: relative;
  display: block;
  padding: 58px 0 20px 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
  transition: color var(--effect-duration) var(--timing-function);

  &:hover {
    color: var(--color-logo);
  }
}

.current-page::after {
  content: '';
  background-color: var(--color-brand);
  position: absolute;
  bottom: 2;
  display: block;
  width: 101%;
  height: 3px;
}

.logo-name {
  font-size: 30px;
  line-height: 1.17;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.search-input {
  outline: none;
  background-color: transparent;
  color: var(--color-main-light);
  border: none;
  margin-right: auto;
  width: 255px;
  font-size: 14px;
  line-height: 1.14;

  &::placeholder {
    color: var(--color-main-light);
  }

  @media screen and (min-width: 768px) {
    width: 311px;
  }
}

.search-btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-btn-icon {
  fill: var(--color-main-light);
}

.search-form {
  display: flex;
  &::after {
    position: absolute;
    content: '';
    background-color: var(--color-main-light);
    display: block;
    width: 280px;
    height: 0.5px;
    bottom: 0;
    left: 0;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  }
}
