:root {
  --color-brand: #ff6b08;
  --color-error: #ff001b;
  --color-main-dark: #000000;
  --color-main-light: #ffffff;
  --color-add-light: #f7f7f7;
  --color-add-dark: #545454;
  --color-logo: #818181;
  --font: 'Roboto', sans-serif;
  --font-weight: 500;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --effect-duration: 300ms;
  --shadow: 1px 1px 13px rgba(255, 107, 8, 0.5);
}
