<main class="container">
  <ul class="films"></ul>

  <!-- ПАГІНАЦІЯ -->
  <div class="pages">
    <button type="button" class="arrow-button backward">
      <svg width="16" height="16" class="forward-arrow">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <span class="page-inscriprion">page</span>
    <input type="number" name="username" class="page-input" placeholder="1" autocomplete="off" />
    <span class="pages-number">of 1000</span>
    <button type="button" class="arrow-button forward">
      <svg width="16" height="16" class="backward-arrow">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</main>
