<main class="container">
  <ul class="films">
    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/header-bg-img768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Drama, Action</span> |
            <span class="film-year">2000</span></span
          >
          <span class="film-raiting">10.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/header-bg-img768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Drama, Action</span> |
            <span class="film-year">2000</span></span
          >
          <span class="film-raiting">10.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/my-lib-header-bg768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Action</span> | <span class="film-year">2000</span></span
          >
          <span class="film-raiting">9.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/my-lib-header-bg768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Action</span> | <span class="film-year">2000</span></span
          >
          <span class="film-raiting">9.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/header-bg-img1024.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Drama, Action</span> |
            <span class="film-year">2020</span></span
          >
          <span class="film-raiting">10.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/my-lib-header-bg768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Action</span> | <span class="film-year">2000</span></span
          >
          <span class="film-raiting">9.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/header-bg-img768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Drama, Action</span> |
            <span class="film-year">2000</span></span
          >
          <span class="film-raiting">10.0</span>
        </p></a
      >
    </li>

    <li class="film-card">
      <a href="" class="film-link"
        ><img src="./images/header-bg-img768.jpg" alt="film-name" class="film-card-img" />
        <h3 class="film-name">Film name</h3>
        <p>
          <span class="film-info">
            <span class="film-genres">Drama, Action</span> |
            <span class="film-year">2000</span></span
          >
          <span class="film-raiting">10.0</span>
        </p></a
      >
    </li>
  </ul>

  <!-- ПАГІНАЦІЯ -->
  <div class="pages">
    <button type="button" class="arrow-button">
      <svg width="16" height="16" class="forward-arrow">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <ul class="page-buttons">
      <li><button type="button" class="page-buttons__elem">1</button></li>
      <li><button type="button" class="page-buttons__elem">21</button></li>
      <li><button type="button" class="page-buttons__elem">22</button></li>
      <li><button type="button" class="page-buttons__elem">23</button></li>
      <li><button type="button" class="page-buttons__elem">1000</button></li>
    </ul>
    <button type="button" class="arrow-button">
      <svg width="16" height="16" class="backward-arrow">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  <!--   <svg width="30" height="30">
    <use href="./images/icons.svg#icon-close"></use>
  </svg> -->
</main>
