<header class="my-lib-header">
  <div class="container">
    <nav class="site-nav">
      <a href="./index.html" class="logo-link"
        ><svg width="24" height="24" class="logo-icon">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo-name">movieLib</span></a
      >
      <ul class="menu">
        <li><a href="./index.html" id="home-page" class="menu-link">Home</a></li>
        <li>
          <a href="./my-library.html" id="my-lib-page" class="current-page menu-link">My library</a>
        </li>
      </ul>
    </nav>

    <ul class="filter-buttons-container">
      <li><button type="button" class="filter-button watched">Watched</button></li>
      <li><button type="button" class="filter-button queue">Queue</button></li>
    </ul>
  </div>
</header>
