<section class="section">
  <h3>CSS. Селекторы и цвет</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-03/intro" target="_blank"
        ><b>Введение в CSS: </b>селектор, свойство, значение, подключение стилей, встроенные стили,
        инлайн стили, inline styles, атрибут style; встроенная таблица стилей, встроенные стили,
        embedded stylesheet, тега style в шапке документа; внешняя таблица стилей, внешний CSS-код,
        внешние стили, external stylesheet, тег link в head, атрибут rel = stylesheet, атрибут href,
        папка css,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-03/selectors" target="_blank"
        ><b>Селекторы: </b>cелектор элемента, селектор тега, text-decoration: none - убрать
        подчеркивание ссылок, селектор класса, композиция классов через пробел, селектор
        идентификатора id, селектор #, селектор id, cелектор потомка - например: .some-class a
        {...}, селектор ребёнка >, cелектор атрибута a[title] либо элемент[атрибут="значение"]
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-03/pseudo-classes" target="_blank"
        ><b>Псевдоклассы состояния: </b>:hover, при наведении мыши, ховер, фокус, :focus, :active,
        :visited - посещенные ссылки, ховер и таблицы, свойство cursor: auto, pointer - рука,
        default - стрелка, text и др.
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-03/color" target="_blank"
        ><b>Работа с цветом: </b> свойство color - цвет текста, background-color - цвет фона, rgb,
        Hexadecimal, hex, rgba(), прозрачность - альфа канал 0-1,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-03/cascade" target="_blank"
        ><b>Каскад стилей: </b> каскадирование, специфичность селекторов, наследование, селекторы
        4-го ранга, ранг селектора, одинаковая специфичность, ключевое слово !important, inherit,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-03/css-vars" target="_blank"
        ><b>CSS-переменные: </b> глобальные переменные :root {--brand-color: ...;} использование
        color: var(--brand-color, fallback-color), фолбэк - резервное значение; область видимости,
        переопределение значений</a
      >
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=bn9yIxt_rtg" target="_blank"
        ><b>Основы CSS. Селекторы. Цвет: </b>встроенные стили, критический css, переопределение
        свойств, 2 класса одновременно, инлайн стили, атрибут style, capitalize - заглавные буквы,
        селектор ребенка, селектор потомка, иерархия элементов, предок, потомок, родитель, ребёнок,
        внешний файл стилей, подключение стилей, rel, cелектор элемента тега, cелектор класса,
        ограничение, композиция классов, cелектор идентификатора, cелектор атрибута, псевдоклассы
        состояния :hover, :focus, инструменты разработчика, одинаковые свойства к нескольким
        селекторам, :active, :visited, прозрачность цвета, rgb, hex, наследование, специфичность,
        каскад, именование селекторов, id, opacity, DevTools, убрать маркеры с элементов списка,
        оформление ссылок, одинаковые стили, hero, оформление списка, стили кнопок, переход между
        страницами, относительные пути, удалить с GitHub, текущая страница current page, нескольких
        файлов css, css-файлы, переменные в css,</a
      >
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=rEV8thAIeIo" target="_blank">Основы CSS</a>
    </li>
  </ul>
  <h3>CSS. Текст и шрифты</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-04/decoration/" target="_blank"
        ><b>Оформление текста: </b>text-decoration - none, underline, line-through, overline,
        подчеркивание, подчеркнутый текст, перечеркнутый текст, рамка, обводка; text-transform -
        none, uppercase, lowercase, capitalize, нижний регистр, верхний регистр, заглавные буквы,
        большие буквы, маленькие буквы; text-align - left, right, center, justify, выравнивание
        текста; text-indent - величина отступа первой строки блока; line-height - высота строки,
        множитель, inherit, normal; letter-spacing - интервал между символами, междусимвольные
        отступ; word-spacing; text-shadow: смещение по x, смещение по y, радиус размытия, цвет через
        пробез; многослойная тень - слои через запятую; white-space - форматирование пробелов и
        переноса строк, перенос строк
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-04/font-props" target="_blank"
        ><b>Свойства шрифта: </b>font-size в px; font-weight 100, 200,... 900, normal = 400, bold =
        700; font-style - normal, italic курсив, oblique, initial, inherit; font-family - шрифты с
        засечками serif, шрифты без засечек sans-serif, моноширинные monospace, декоративные и
        рукописные
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-04/pseudoelements" target="_blank"
        ><b>Псевдоэлементы текста: </b>::first-letter - стилю первого символа элемента, первый
        символ; ::selection - управляет стилем выделения текста элемента, стиль выделенного текста
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-04/google-fonts" target="_blank"
        ><b>Нестандартные шрифты: </b>Google Fonts, подключения шрифтов в head, link font rel
        stylesheet, Embed link, font-family, директива @font-face, font-style, font-weight,
        font-display, src, woff, woff2, unicode-range, Unicode
      </a>
    </li>

    <li class="video">
      <a href="https://www.youtube.com/watch?v=KM5r3qtBdxY" target="_blank"
        ><b>Оформление текста и шрифты: </b>отступ у заглавной буквы, первая буква, text-align,
        жирность шрифта, font-weight, DevTools стили псевдоклассов элемента, white-space,
        псевдоэлемент ::selection, определить уровень заголовка секции, figure, карточки,
        сгруппировать код, свойства шрифтов, интерлиньяж line-height, GoogleFonts, подключение
        шрифтов, кириллица, несколько шрифтов, сиситемные шрифты, семейство шрифтов font-family,
        sans-serif, sans-serif, шрифты button, текстовый контент по-центру, центрирование, стили
        заголовков, проверка стилей, наследование стилей, inherit, объединять свойства, группировка
        свойств, цвет фона, убрать точки у элементов списка, нижнее подчеркивание ссылок, маркеры
        списка, маркер списка, курсив, тег i
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=B_YEuaAhd0Y" target="_blank">Оформление текста</a>
    </li>
    <li class="video">
      <a
        href="https://drive.google.com/file/d/1TEEyFylj4TBFEpA-R_eSgFIsyU4yncHL/view"
        target="_blank"
        ><b>Мастерская - подключение локальных шрифтов</b></a
      >
    </li>
    <li class="resources">
      <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
    </li>
  </ul>

  <h3>Блочная модель</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-05/box-model" target="_blank"
        ><b>Блочная модель: </b>область содержимого content, внутреннее поле padding, рамка border,
        внешний отступ margin, ширина width, высота width, px, em, rem, %; тип блочной модели
        box-sizing - content-box, <b>border-box</b>, inherit; инструменты разработчика Computed,
        глобальный border-box, нормализация стилей,
      </a>
    </li>
    <li class="resources">
      <a href="https://github.com/sindresorhus/modern-normalize" target="_blank"
        >Нормализация стилей modern-normalize</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-05/geometry" target="_blank"
        ><b>Геометрия элемента: </b>top - верх, right - право, bottom - низ, left - лево, padding,
        margin, border, схлопывание вертикальных отступов, выпадение вертикальных отступов,
        индивидуальные рамки каждой стороны элемента border-top-width, border-top-style;
        border-style: dotted, dashed, solid; border-radius, border-top-left-radius
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-05/box-types" target="_blank"
        ><b>Типы элементов: </b> свойство display, block, inline, inline-block, строчные элементы,
        блочные элементы, ширина, высота, горизонтальное центрирование блочных элементов,
        margin-right: auto; margin-left: auto; контейнер, обёртка, враппер, центровщик, div
        container; margin, padding и border; отступы от элемента, отступы между элементами,
        выравнивание, зазор, правый отступ, правый зазор у строчных элементов, нижний зазор у
        изображения, нижний отступ у изображения, верхние и нижние поля строчного элемента, отступ
        строк; display: none нельзя анимировать
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-05/pseudoclasses" target="_blank"
        ><b>Структурные псевдоклассы: </b>дочерние элементы, селекторы дочерних элементов,
        :first-child и :last-child - первый или последний элемент в коллекции, :not(selector),
        :nth-child(an+b), четные .list-item:nth-child(even) или 2n, нечётные
        .list-item:nth-child(odd) или 2т+1; начиная с n-го элемента, до n-го элемента, каждый n-й
        элемент; :first-of-type - первый селектор данного типа, :last-of-type, :only-of-type,
        :only-child, :empty ...
      </a>
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=_StgByWohXQ" target="_blank"
        ><b>Блочная Модель: </b>глобальный border-box, отступ от границ родителя, нормальный поток
        документа, псевдоклассы, inline-block строчно-блочные элементы, display: none, border, width
        и height, теги для разметки кнопок, padding, margin, отступы между элементами, outline
        обводка, высота и ширина блока, строчные и блочные элементы, схлопывание вертикальных
        отступов, выпадение вертикальных отступов, отодвинуть секции, маржины, обнулять свойства
        браузера, box-sizing, высота элемента, выровнять по-вертикали, vertical-align,
        автоматический маржин, центрировать контент, нормализация стилей, сброc стилей reset.css,
        modern-normalize.css, в какой последовательности подключать стили, размер контейнера,
        боковые отступы контейнера, оформить кнопки, фиксированая шириня и min-width, боковые
        падинги, рамка кнопки, маржин пробивает родителя, DevTools, отступ между элементами, выбрать
        падинг или маржин, верхний или нижний маржин, отцентровать текстовый контент, контейнер для
        секции, отступы для секции, переопределить маржины браузера заданные по-умолчанию,
        утилитарный класс,:first-child, :last-child, :nth-child(an+b), div, стили брузера
        по-умолчанию для li,
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=0j9RRkhFWkQ" target="_blank">Блочная модель</a>
    </li>
  </ul>

  <h3>Flexbox</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-06/intro/" target="_blank"
        ><b>Flexbox. Основные концепции: </b>flex-контейнер, flex-элементы, flex-direction, main
        axis, главная ось, main-start, main-end, cross axis, cross-start, cross-end, флексы
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-06/container" target="_blank"
        ><b>Свойства flex-контейнера: </b>флексы, display - flex, inline-flex; направление главной
        оси flex-direction - row, row-reverse, column, column-reverse; выравнивание элементов
        justify-content - flex-start, flex-end, center, space-between, space-around, space-evenly;
        align-items - stretch растянуть, flex-start, flex-end, center, baseline; перенос элементов
        на новую строку flex-wrap - nowrap, wrap, wrap-reverse; выравниванием многострочного
        контейнера вдоль поперечной оси align-content - flex-start, flex-end, center, space-between,
        space-around, space-evenly, stretch
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-06/element" target="_blank"
        ><b>Свойства Flex-элемента: </b>флексы, начальный размер элемента flex-basis, width ширина,
        min-width, max-width, пропорция (доля) flex-grow, расширение элемента, резиновый контент,
        сайдбар фиксированной ширины, сжатие элемента flex-shrink, выравнивание элемента на
        поперечной оси align-self - flex-start, flex-end, center, baseline, stretch, позиция order
      </a>
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=c32Jb9Ejz4k" target="_blank"
        ><b>Flexbox: </b>флексбокс, боковой зазор, нижний зазор у картинок, отступ inline, составные
        свойства, позиционирование alighn-items, alighn-content, alighn-self, горизонтальное меню
        флексами, отступы между элементами списка, очистка крайней геометрии, :last-child, селекторы
        :not(:last-child), падинги, последовательность свойств стилей, селектор соседа, выравнивание
        justify-content, отступы между элементами, автоматический маржин, схлопывание маржинов,
        display: block, inline-block, многострочный флекс-контейнер, новая строка, flex-wrap,
        боковые отступы для блоков, space-between, :nth-last-child(n), функция calc, рассчитать
        ширину блока, flex-direction: raw-revers, флекс-бокс
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=czBWD_F8fj8" target="_blank"
        >Flexbox. Флексы, флексбокс</a
      >
    </li>
    <li class="video">
      <a
        href="https://drive.google.com/file/d/1mQW8d7rKEsReSolvmg-kIhsIiiTtFx5x/view"
        target="_blank"
        >Мастерская: cетка элементов на флексах. Flexbox, флексбокс</a
      >
    </li>
    <li class="video">
      <a
        href="https://drive.google.com/file/d/1wuoqJZiEgpmQaY3rjrkfL-Zh3wA-gq9r/view"
        target="_blank"
        >Мастерская: Flexbox и автоматический margin. Флексы, флексбокс</a
      >
    </li>
  </ul>

  <h3>Декоративные эффекты и элементы</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-07/types" target="_blank"
        ><b>Типы изображений: </b>контентные изображения img, декоративные изображения, CSS
        background-image, тег svg, кастомные маркеры списков, иконки, плашки, фоновые изображения,
        ассистивные технологии (скринридеры) - alt
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-07/background" target="_blank"
        ><b>Фон элемента: </b>background-color, RGB, RGBA и HEX-формат, background-image: url('адрес
        картинки'); background-repeat - repeat, repeat-x, repeat-y, no-repeat; background-position:
        x y, right bottom left top; background-size - auto, ширина-высота px, cover, contain;
        background-attachment - scroll, fixed, inherit; многослойный фон
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-07/object-fit" target="_blank"
        ><b>Свойства object-fit и object-position: </b>контентное изображение, object-fit: fill,
        contain, scale-down, none; контейнер-тумба - явно указана фиксированная высота;
        object-position - по умолчанию 50% 50%, initial, inherit
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-07/pseudoelements" target="_blank"
        ><b>Псевдоэлементы: </b>::before и ::after, псевдоэлемент перед и после, строчные элементы,
        обязательное свойство content- текст или пустая строка, псевдокласс :hover, ховер,
        псевдоэлемент-иконка,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-07/gradient" target="_blank"
        ><b>Градиент: </b>переход от одного цвета к другому, background-image, фоновое изображение,
        линейный, радиальный или конический, linear-gradient(направление, цвет-1, цвет-2, ...) to
        top, to right, to bottom, to left, 45deg, color-stop px или % процент, полосатій фон,
        radial-gradient, circle, ellipse, center; repeating-linear-gradient,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-07/shadow" target="_blank"
        ><b>Тень элемента: </b>внешние и внутренние, размытые и плоские, одинарные и многослойные
        тени; box-shadow: x-offset - горизонтальное смещение, y-offset - вертикальное смещение, blur
        - радиус размытия, spread - радиус распространения, color - цвет тени; внешняя тень;
        внутренняя тень inset, многослойная тень
      </a>
    </li>
    <li class="resources">
      <a href="https://cssgenerator.org/box-shadow-css-generator.html" target="_blank"
        >Генератор тени, box-shadow</a
      >
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=VThG4A-4bJQ" target="_blank"
        ><b>Фон и декоративные элементы: </b>инстумент для оптимизации картинок, формат изображений
        WebP, фоновое изображение, формат .jpg, .png, тень с макета, залить фон под бордер, задать
        цвет фону элемента, задать фоновое изображение элементу, css путь к картинке фона, DevTools
        загруженные изображения, убрать повторение фонового изображения, background-position, как
        позиционировать фоновые картинки, увеличить или уменьшить фон, размера фонового изображения,
        качество картинки при увеличении, background-size: contain и cover, многослойный фон,
        порядок, линейный градиент, затемнить фоновую картинку, контентные и декоративные (фоновые)
        изображения, кнопка с иконкой, псевдоэлементы, обязательное свойство content, cursor:
        pointer, svg, разницамежду svg и png, псевдоэлементы для элементов списка, ::before и
        ::after
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=X2DM7oOycrc" target="_blank"
        >Фон и декоративные элементы</a
      >
    </li>
  </ul>

  <h3>Векторная графика</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-08/svg" target="_blank"
        ><b>Векторная графика: </b>SVG, XML, не теряет в качестве при масштабировании, размер файл,
        параметры векторного изображения
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-08/elements" target="_blank"
        ><b>SVG-элементы: </b>прямоугольник rect, атрибут fill, stroke и stroke-width, окружность
        circle, радиус задаётся атрибутом r, элипс ellipse, прямая линия line, многоугольник polygon
        определяется атрибутом points, универсальный элемент path, атрибут d содержит набор
        координат и соединяющих их кривых определяющих направление линий
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-08/document" target="_blank"
        ><b>SVG-документ: </b>файл с расширением .svg, тег svg, атрибут xmlns является обязательным,
        viewport - видимая часть холста, viewBox - окно просмотра,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-08/usage" target="_blank"
        ><b>Использование векторной графики: </b> в элементе img, как фон элемента background-image,
        встроенный SVG, базовый цвет заливки свойство fill можно менять при ховере, SVG-спрайт -
        один файл для всех SVG-иконок, сервис icomoon.io, SVG-документ, элемент symbol, уникальный
        id, use href, путь к иконке, уникальный идентификатор, хеш #,
      </a>
    </li>
    <li class="resources">
      <a href="https://icomoon.io/app/#/select" target="_blank"
        >Сервис icomoon.io для создания SVG-спрайта, спрайт иконок</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-08/styling" target="_blank"
        ><b>Оформление фигур векторной графики: </b>CSS, заливка, цвет, тип обвховер" при анимации
        элемента с иконкой svgодки svg, cвойство fill - цвет заливки, полностью убрать заливк -
        none; свойство fill-opacity - прозрачностью цвета заливки от 0 до 1; свойство stroke - цвет
        обводки; stroke-width - толщина обводки; stroke-opacity прозрачность цвета обводки 0 до 1.
      </a>
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=GmEY7lL7YXE" target="_blank"
        ><b>Векторная графика: </b>использование svg, анимировать svg, задать размеры svg, задать
        цвет иконке svg, применить ховер на svg, цвет svg через текущий цвет currentColor,
        inline-svg, встроенный svg, svg-sprite, спрайт иконок, svg-спрайт, оптимизировать svg,
        оптимизировать svg-sprite, оптимизировать спрайт, как оформлять svg иконки, изменить цвет
        иконки из спрайта, анимировать иконки, ховер при анимации элемента с иконкой svg, свг
        спрайт, фрагменты спрайта для background-image, атрибут aria-label, svg и :before, :hover и
        :focus, растровый спрайт, свг перед текстом, иконки у списка соцсетей
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=2RRBkw_8Tj0" target="_blank">Векторная графика</a>
    </li>
  </ul>

  <h3>Позиционированные элементы</h3>
  <ul>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-09/positioning" target="_blank"
        ><b>Позиционированные элементы: </b>position; статическое позиционирование по умолчанию
        static; относительное позиционирование elative, абсолютное позиционирование absolute и
        фиксированное позиционирование fixed; липкое позиционирование sticky
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-09/z-index" target="_blank"
        ><b>Свойство z-index: </b>порядок позиционированных элементов</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-09/overflow" target="_blank"
        ><b>Свойство overflow: </b>контент переполняет выходит за границы контейнера. visible,
        hidden, scroll, auto; overflow-x и overflow-y, управляющие переполнением; скруглённое
        изображение, декоративный оверлей, transform и translate, скрыть контент, transition
      </a>
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=K_Jxc8VgSIk" target="_blank"
        ><b>Позиционированные элементы: </b>спозиционировать кнопки отностиельно карточки товара,
        position: absolute, начальная точка, абсолютно спозиционировать элемент, div как обертка для
        абсолютного позиционирования, родитель с position: reletive, значение в процентах, поставить
        элемент по-центру, позоционирование относительно углов, трансформация для позиционирования
        элемента по-центру - transform, флексбокс для абсолютного позиционирования, свойство opacity
        декоративно скрыть элемент - для hover, overlay - фон по-верх картинки, оформление
        полупрозрачного фона который срабатывает на :hover, фон через :after, opacity: 0, positin:
        fixed, вьюпорт, динамическая высота, модальное окно, как спозионировать модалку, порядок
        записи свойств, cкрываем бекдроп и модалку, бекдроп скрыт, pointer-events, user-select: none
        свойство для запрета выделения контента, выпадающее меню, подменю абсолютно позиционируем
        относительно его родителя, :hover выпадающее на меню, разворачивания svg в VSCode
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=nm5dogJGAWg" target="_blank"
        >Позиционированные элементы</a
      >
    </li>
  </ul>

  <!-- +++++++++++++ -->
  <ul>
    <li class="compendium">
      <a href="" target="_blank"><b>: </b></a>
    </li>
    <li class="video">
      <a href="" target="_blank"><b>: </b></a>
    </li>
    <li class="video class-39">
      <a href="" target="_blank"></a>
    </li>
    <li class="resources">
      <a href="" target="_blank"></a>
    </li>
  </ul>
</section>
