<section class="section">
  <h3>Основы HTML</h3>
  <ul>
    <li class="resources">
      <a href="https://htmlreference.io/" target="_blank"
        >Справочник HTML-тегов htmlreference.io, HTML-теги</a
      >
    </li>
    <li class="resources">
      <a href="http://htmlbook.ru/" target="_blank">Теги htmlbook.ru, HTML-теги</a>
    </li>
    <li class="resources">
      <a
        href="https://developers.google.com/search/docs/advanced/crawling/special-tags?visit_id=637584404765485989-1062134626&rd=1"
        target="_blank"
        >Мета-теги которые понимает Google, meta</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/tags-attrs" target="_blank"
        ><b>Теги и атрибуты: </b>ссылка, тег ссылки a, тег a, атрибут href, атрибут target, атрибут
        title, картинка, тег картинки img, тег img, атрибут src, атрибут alt, комментарии, парные
        теги, одиночные теги, вложенность тегов,
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/doc-structure" target="_blank"
        ><b>Скелет HTML-документа: </b>!DOCTYPE, тег html, тег head, тег body, заголовок документа
        title, мета-теги meta, метаданные meta, charset, кодировка utf-8, description, блочный
        элемент, строчный элемент
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/semantics" target="_blank"
        ><b>Семантика: </b>cемантическая разметка</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/text" target="_blank"
        ><b>Разметка текста: </b> абзац тег p, текст-рыба lorem, заголовок h1, h2, h3, тег h1,
        списки, список ol, список ul, тег ol, тег ul, тег li, вложенные списки, многоуровневый
        список, ссылка a, тег a, атрибут target, атрибут rel, href, noreferrer noopener, target
        _blank, атрибут download
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/images" target="_blank"
        ><b>Изображения: </b>тег img, путь src, атрибуть src, атриюут описания картинки, описание
        картинки, атрибут alt, альтернативный текст, атрибут width, height, ширина картинки, высота
        картинки, изображение-ссылка, подпись изображения, figure, figcaption, абсолютные пути,
        относительные пути, абсолютный путь, относительный путь, протокол, имя сервера,
        background-image, url, ../, растровая графика, JPEG, PNG, webP, векторная графика, SVG,
        оптимизация изображений, прогрессивный JPEG, Squoosh, оптимизация растровой графики,
        оптимизация векторной графики
      </a>
    </li>
    <li class="resources">
      <a href="https://squoosh.app/" target="_blank"
        >Squoosh для оптимизации растровой графики, оптимизация растровой графики, сквош,
        оптимизация картинок, вес картинки, уменьшенье веса картинки</a
      >
    </li>
    <li class="resources">
      <a href="https://jakearchibald.github.io/svgomg/" target="_blank"
        >SVGOMG для оптимизации векторной графики, оптимизация векторной графики</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/sectioning" target="_blank"
        ><b>Структурная разметка: </b>семантика, семантическая разметка, тег header, шапка, хедер,
        логотип, навигация nav, тег nav, меню, тег footer, футер, подвал, копирайт, тег main, тег
        article, тег section, тег div, алгоритм выбора тега, разметка страницы
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/validation" target="_blank"
        ><b>Валидация: </b>HTML-синтаксис, проверка синтаксиса, проверка разметки, проверка
        HTML-разметки, правильное написание тегов, валидный HTML, ошибка валидации,
      </a>
    </li>
    <li class="resources">
      <a href="https://validator.w3.org/nu/" target="_blank"
        >Html Checker, <b>онлайн-валидатор,</b> проверка синтаксиса, проверка разметки, проверка
        HTML</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-01/devtools" target="_blank"
        ><b>Инструменты разработчика: </b>DevTools, F12, Ctrl+Shift+I, Cmd+Opt+I, просмотреть код,
        вкладка Elements,
      </a>
    </li>
    <li class="resources">
      <a href="http://sadcitizen.me/code-guide/" target="_blank"
        >Оформление кода - руководство от @mdo</a
      >
    </li>
    <li class="video">
      <a href="https://www.youtube.com/watch?v=k6IxRD5BEXY" target="_blank"
        ><b>Основы HTML часть 1: </b>вложенность тегов, абсолютные и относительные пути, header,
        svg, png, Figma, логотип, тег img, ссылка, список, список ul, список ol, тег ol, тег ul, тег
        li, навигация nav, меню, login, register, секция section, заголовок h1, тег h1, br,
        заголовок h3, абзац p, article, figure, widt, язык страницы, alt, футер footer, подвал, div,
        шапка сайта, хедер header, main, html-валидатор, cемантика, cемантическая разметка, телефон
        tel, почта mailto, адрес электронной почты, ссылка-якорь #, id, кнопка button, type button,
        type submit, атрибут lang, язык текста
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube.com/watch?v=5uh5doRkwh8" target="_blank">Основы HTML часть 1</a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-02/tables" target="_blank"
        ><b>Таблицы: </b>табличные данные, тег table, тег tr - строка таблицы, тег td - ячейка
        таблицы, тег th - ячейки-заголовки, секции таблицы, тег thead - шапка таблицы оборачивает
        строки, тег tbody, тег tfoot, подвал таблицы, заголовок таблицы - тег caption, группировка
        ячеек: пустые теги th, атрибут rowspan, атрибут colspan
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-02/text" target="_blank"
        ><b>Разметка текста: </b>тег dl - description list, список терминов, словарь, тег dt -
        термин, тег dd - описание термина; тег span, тег pre - принудительный перенос строк, тег sup
        - верхний индекс, тег sub - нижний индекс, тег time, атрибут datetime, тег address, адрес,
        телефон, почта, имейл, мейл; тег strong - важный текст, тег b - визуально жирный текст,
        bold; тег em - акцентирование текста, тег i - визуально курсив, italic
      </a>
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-02/mnemonics" target="_blank"
        ><b>Символьные подстановки: </b>Unicode, символы, торговый знак, торговая марка, авторское
        право, ссылки-мнемоники, Unicode-символ, мнемокод, коды символов, спецсимволы
      </a>
    </li>
    <li class="resources">
      <a href="https://dev.w3.org/html5/html-author/charref" target="_blank"
        >Официальная страница W3C, таблица символов Unicode, мнемоники, мнемокоды, коды символов,
        символы, спецсимволы</a
      >
    </li>
    <li class="resources">
      <a href="https://www.toptal.com/designers/htmlarrows/symbols/" target="_blank"
        >Коды символов от Toptal, таблица символов, мнемоники, мнемокоды, символы знаков,
        спецсимволы</a
      >
    </li>
    <li class="compendium">
      <a href="https://goit.global/html-css/ru/v1/docs/lesson-02/media" target="_blank"
        ><b>Видео и аудио: </b>тег video, абрибут poster - адрес изображения-постера, src, width,
        height, атрибут-флаг controls - элементы управления видео, атрибут-флаг autoplay,
        атрибут-флаг loop - зацикливание воспроизведения, атрибут preload, тег source для разных
        форматов, форматы видео; тег audio, форматы аудио; поддержка старых браузеров, тег code
      </a>
    </li>
    <li class="video">
      <a href="" target="_blank"
        ><b>Основы HTML часть 2: </b>раздача статики github-pages, alt, lang, address, ширина
        изображения, высота изображения, ссылка перехода на главную, href, контактные данные, футер,
        валидатор, ссылки на соцсети, названия папок, названия файлов, фоновые изображения,
        контентные изображения, span, time, strong, em, тег b, логотип, video, iframe, кнопка,
        комментарии, коментарии, div, ul, ссылки-иконки, иконка ссылка, копирайт, спецсимволы,
        article, разметка секции, section, карточка, однотипные карточки, группировка тегов,
        горизантольная полоса, hr, цвет svg, заголовки
      </a>
    </li>
    <li class="video class-39">
      <a href="https://www.youtube .com/watch?v=HeuRwtBQ790" target="_blank">Основы HTML часть 2</a>
    </li>
  </ul>
</section>
